li {
  margin: 10px 0 10px 0;
  padding: 15px 15px 15px 0;
  background-color: #4d5063;
  width: 250px;
  border-radius: 5px;
  list-style-type: none;
  font-size: 18px;
  transition: opacity 500ms, font-size 1s;
  max-height: 30px;
}

li:hover {
  opacity: 0.8;
  font-size: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

.badge {
  background-color: RGBA(255, 106, 56, 0.75);
  padding: 15px;
  border-radius: 5px 0 0 5px;
  margin: 0 15px 0 0;
}
